<div class="container text-center">
  <div class="row">
    <h1>Learn French with Native Speakers</h1>
      <h2 class="btn btn-primary">Discover our lessons</h2>
      <p>
        New lessons everyday
      </p>
  </div>
</div>
